<h1>Best Efforts</h1>
<table>
  <thead>
      <tr>
        <th>Position</th>
        <th>Time</th>
        <th>Date</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let effort of bestEfforts">
      <td>
        <img *ngIf="effort.position === 1" src="assets/images/gold-medal.svg" width="32" height="32" alt="Gold medal" />
        <img *ngIf="effort.position === 2" src="assets/images/silver-medal.svg" width="32" height="32" alt="Silver medal" />
        <img *ngIf="effort.position === 3" src="assets/images/bronze-medal.svg" width="32" height="32" alt="Bronze medal" />
      </td>
      <td>{{effort.time | shortTime}}</td>
      <td class="activity-name">{{effort.activity.name}}</td>
      <td>{{effort.activity.date | date : 'longDate'}}</td>
    </tr>
  </tbody>
</table>
