
@import 'mixins';

table {
  width: 100%;

  thead { @include hide; }

  tr {
    td:first-child {
      width: 40px;
      height: 32px;
    }

    td:last-child {
      text-align: right;
    }

    &:first-child {
      td {
        font-weight: bold;
      }
    }
  }
}

.activity-name {
  display: none;

  @include screensize(sm) {
    display: inherit;
  }
}
