@import 'variables';
@import 'colours';
@import 'mixins';

header {

  background: $primary;
  color: $white;
  font-weight: 300;
  padding: .5rem .8rem;

  a {
    color: $white;
  }

  .inner {

    min-width: $screen-size-min;
    max-width: $screen-size-lg;
    display: flex;
    margin: 0 auto;

    .logo {
      width: 130px;
      height: 39px;

      @include screensize(sm) {
        width: 214px;
        height: 65px;
      }
    }

    .tagline {
      display: inline-block;
      align-self: flex-end;
      flex-grow: 1;
      margin-left: .6rem;
    }

    .profile {
      font-size: 32px;
      align-self: center;

      @include screensize(sm) {
        font-size: 50px;
      }
    }
  }

}

hr {
  background: $secondary;
  color: $secondary;
  height: .3rem;
  padding: 0;
  border: 0;
  max-width: $screen-size-lg;
  margin: 0 auto;

  @include screensize(sm) {
    height: .5rem;
  }
}
