@import 'variables';
@import 'colours';
@import 'mixins';

header {

  background: $primary;
  padding: .5rem;
  border-bottom: .3rem solid $secondary;
  color: $white;
  min-width: 320px;
  position: relative;

  a {
    color: $white;
  }

  .logo {
    width: 130px;
    vertical-align: bottom;
  }

  .tagline {
    display: inline-block;
    margin-left: .8rem;
    vertical-align: bottom;
    font-weight: 300;
  }

  .user {
    position: absolute;
    right: .6rem;
    top: 8px;
    font-size: 32px;
  }

  @include screensize-gte(xs) {

    padding-right: 1rem;

    .logo {
      width: 214px;
    }

    .user {
      font-size: 50px;
      top: 16px;
      right: 1rem;
    }
  }

}
